* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup {
  position: absolute;
  display: flex;
  max-width: 400px;
  border: solid;
  right: 0;
  transition: bottom 0.2s;
  background-color: white;
}

.content {
  position: relative;
  flex: 1;
  padding: 1rem;
}

.line-box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.line {
  background-color: red;
  flex: 1;
}
.close {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
}